body{
    background-color:#fbc3c3;
    color:#ff03bc;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    line-height: 1.6em;
}

a{
    text-decoration:none;
    color: palegreen; 
}

a:hover{
    color:#ff03bc;
}

a:active{
    color:greenyellow;
}

a:visited{
    color:purple;
}

.container{
    width:80%;
    margin:auto;
}

.box-1{
    background-color:rgb(248, 219, 160);
    color:rgb(255, 0, 212);

    border:5px orange solid;

    padding:20px; 

    margin:20px 0;
}

.box-1 h1{
    font-family: fantasy;
    font-size: medium;
    font-style: oblique;
    text-decoration:underline;
    text-transform: lowercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    border:3px dotted rgb(57, 147, 251);
    padding:20px;
    margin:20px 0;
}

.categories{
    border: 15px rgb(48, 253, 157) solid;
    padding: 10px;
    border-radius:15px;
}

.categories h2{
    text-align:center;
}

.categories ul{
    padding:0;
    list-style: square;
}