* {box-sizing: border-box;}

body {
    background-color: aquamarine;
}
img {
    width: 100%
}

body {
    margin: 0;
}

.cat {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.feature {
    grid-column: 1/3;
    grid-row: 1/3;
}

.kitten {
    padding: 20px;
}

.cat-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}