body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#FED705 33.33%, #F786AA 33.33%, #F786AA 66.66%, #329FA1 66.66%);
    background-color:#329FA1; 
    background-size: 100% 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 0px;


    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    
    line-height: 1.6em;
}

.banner {
    width:100%;
    position: relative;
    top: 0;
    left: 0;
}
.banner-img {
    width: 25%;
    position: absolute;
    top: 400px;
    left:600px;
    flex: 1;
    padding: 0px;
    text-align: center;
}

.star {
    position: relative;
    text-align: right;
    top: 100px;
    right: 300px;
}

.star-2 {
    position: relative;
    text-align: center;
    top: 100px;
    right: 300px;
}

.footer-img {
    width: 100%;
    position: relative;
    top: 50px;
    left:0px;
    flex: 1;
    padding: 0px;
    text-align: left;
}

.bar-info {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    font-weight: normal;
    text-align: right; 
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    max-width: 100%;
    height: auto;
    position: relative;
    flex: 1;
    padding: 10px 10px;
    text-align: center;
}

.owners {
    text-align: center;
}

.burger {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear:both;
    display: table;
}

h1 {
    flex: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

h2 {
    color: white;
    flex: 1;
    padding: 5px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

h3 {
    flex: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h4 {
    flex: 1;
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h5{
    flex: 1;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

p{
    flex: 1;
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
    text-align: center; 
}



.button {
    text-align: center;
    
}

.text {
    margin: auto;
    width: 80%;
    padding: 80px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.images {
    flex: 1;
   
    padding: 20px;
    text-align: center;
}

.grubhub-logo {
    text-align: center;
}

.food, .drink, .fun, .merch {
    flex: 1;
    
    padding: 10px;
    text-align: center;
}
    
nav ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
}

li {
    flex: 5;
}

li a {
    display: block;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding: 10px 10px;
    text-decoration: none;
    
}

li a:hover {
    color: #329FA1;
}


#menu-box {
 	background: #329FA1;
 	color: rgb(0, 0, 0);
    font-size: 20px;
 	padding: none;
 	text-align: center;
    transition:1s;
    opacity:1;
    margin-top:10px;
    position: relative;
    
    
}

#menu-box.hide {
   opacity:0;
   height: 0;
   padding:0;
}

.social-media {
    background-color: #329FA1;
    text-align: center;
}

footer {
    text-align: center;
}
