
body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);



    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    
    line-height: 1.6em;
}

.homepage {
    position: fixed;
    display: flex;
    margin: 0;
    padding: 10px;
    z-index: 10;
    width: 100%;
    justify-content: center;
}

.nav {
    display: flex;
    margin: 10;
    padding-top: 250px;
    z-index: 10;
    width: 100%;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.images {
    width: 100%;
    flex: 1;
    padding: 20px;
    text-align: center;
}

p {
    color: black;
    font-size: 24px;
    font-weight: 400;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

h1 {
    padding-top: 50px;
    font-size: 40px;
    font-weight: 500px;
    text-align: center; 
}

h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center; 
}

h3 {
    color: rgb(230, 49, 115);
    padding-top: 50px;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 3px black; 
}

h4 {
    color: rgb(231, 110, 86);
    padding-top: 50px;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 3px black; 
}

h5 {
    color: rgb(243, 213, 71);
    padding-top: 50px;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 3px black; 
}

h6 {
    color: rgb(82, 179, 238);
    padding-top: 50px;
    font-size: 72px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke: 3px black;
}

img {
    flex: 1;
    width: 350px;
    height: auto;
    flex-direction: column;
    position: relative;
}

marquee {
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    background-color: black;
    color: white;
    position: absolute;
    margin: 0;
    padding: 0;
}

.track {
    position: static;
    will-change: transform;
    animation: marquee 8s linear infinite;
    animation-fill-mode:both;
}
  
@keyframes marquee {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
}
  